@media (max-width: 1200px){
  .products__item {
    width: calc(50% - 10px);
  }
  .works__items{
    width: fit-content;
    margin: 0 auto;
    grid-template-columns: repeat(2, 377px);
    grid-template-rows: 545px 545px 334px;
  }
  .works__item-1 {
    height: fit-content;
  }
  .works__item-3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .works__item-4 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .company__inner {
    background-position: 50% 0px;
    padding: 600px 0 188px 20px;
  }
  .company__content {
    padding-top: 50px;
  }
  .company__text{
    margin-left: 0;
  }
}
@media (max-width: 1000px){
  .logo-full{
    margin-right: 10px;
  }
  .address{
    margin-right: 10px;
  }
  .intro__inner{
    padding-top: 400px;
    background-position: 50% -5%;
    background-size: 100% auto;
    margin-right: 0;
  }
  .services__item {
    width: calc(50% - 10px);
  }
  .contacts{
    padding-top: 450px;
  }
  .company__inner {
    padding: 600px 0 100px 20px;
  }
  .contacts__content {
    top: -445px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
  }
}
@media (max-width: 840px){
  .products__items{
    justify-content: center;
  }
  .products__item {
    width: 80%;
  }
  .works__items{
    grid-template-columns: repeat(1, 377px);
    grid-template-rows: repeat(4, auto);
  }
  .works__item-1 {
    height: fit-content;
    grid-row: 1/2;
    padding: 61px 48px 61px 47px;
  }
  .works__item-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .works__item-3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .works__item-4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .works__item-img--1 {
    width: 282px;
    height: 423px;
  }
  .works__item-img--4 {
    width: 282px;
  }
}
@media (max-width: 767px){
  .header__text{
    display: none;
  }
  .address{
    display: none;
  }
  .footer__inner{
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .footer__logo{
    margin: 0 0 20px;
  }
  .intro__inner{
    padding-top: 400px;
  }
  .intro__content {
    padding-top: 0;
  }
  .intro__title{
    font-size: 34px;
    margin-bottom: 34px;
  }
  .contacts iframe{
    height: 350px;
  }
}
@media (max-width: 650px){
  .intro__inner{
    padding-top: 350px;
  }
  .products {
    padding-top: 100px;
  }
  .partners {
    padding: 0;
  }
  .services {
    margin-bottom: 100px;
  }
  .services__items{
    justify-content: center;
  }
  .services__item {
    width: 80%;
  }
  .slider__arrows-bg {
    bottom: -100px;
  }
  .contacts {
    padding-top: 350px;
  }
  .contacts__content {
    padding: 81px 0px 39px;
    top: -350px;
    left: 0;
    transform: translateX(0%);
    max-width: 603px;
    width: auto;
  }
  .contacts__title {
    font-size: 27px;
    margin: 0 auto;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 540px){
  .intro__title{
    font-size: 30px;
    margin-bottom: 30px;
  }
  .intro__inner{
    padding-top: 275px;
  }
  .products__item {
    width: 100%;
  }
  .company__inner {
    background-size: 300px auto;
    background-position: 50% 0%;
    padding: 350px 0 100px 20px;
  }
}
@media (max-width: 420px){
  .header__inner{
    flex-direction: column;
  }
  .logo-full {
    margin: 0 0 20px;
  }
  .intro__inner {
    padding-top: 225px;
    background-position: 50% 0px;
  }
  .intro__title {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .intro__text{
    margin-bottom: 25px;
  }
  .title{
    font-size: 27px;
  }
  .products__item {
    padding: 71px 20px 42px;
  }
  .products__item-img {
    width: 100%;
    height: auto;
  }
  .services__item {
    width: 100%;
    padding: 100px 20px 48px;
  }
  .works__items {
    grid-template-columns: repeat(1, auto);
  }
  .works__item {
    padding: 10px;
  }
  .works__item-img {
    width: 255px;
  }
  .contacts__item {
    font-size: 18px;
  }
}