    <footer class="footer">
      <div class="container">
        <div class="footer__inner">
          <a class="footer__logo" href="#">
            <picture>
              <source class="logo-img" srcset="images/logo-footer.avif" alt="logo" type="image/avif">
              <source class="logo-img" srcset="images/logo-footer.webp" alt="logo" type="image/webp">
              <img class="logo-img" src="images/logo-footer.png" alt="logo">
            </picture>
          </a>
          <a class="copyright" href="#">© 2015 – 2023. Все права защищены.</a>
        </div>
      </div>
    </footer>
  </div>
  <script src="js/main.min.js"></script>
</body>

</html>