<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <div class="header__left">
            <div class="logo-full">
              <a class="logo" href="#">
                <picture>
                  <source class="logo-img" srcset="../images/logo.avif" alt="logo" type="image/avif">
                  <source class="logo-img" srcset="../images/logo.webp" alt="logo" type="image/webp">
                  <img class="logo-img" src="../images/logo.png" alt="logo">
                </picture>
              </a>
              <p class="logo-bottom">Производственная компания</p>
            </div>
            <p class="header__text">
              Корпусная мебель на заказ по индивидуальным размерам
            </p>
          </div>
          <div class="header__right">
            <div class="address">
              Управа №13 "Сумская", Белгород, 308015, Сумская улица ,165В
            </div>
            <div class="phone">
              <img class="phone__icon" src="../images/phone.svg" alt="phone">
              <div class="phone__numbers">
                <a class="number" href="tel:+79092083865">+7 (909) 208-38-65</a>
                <a class="number" href="tel:+79103243355">+7 (910) 324-33-55</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>